/*Main styles*/
h1{
    font-size: 5em;
    text-transform: uppercase;
    font-weight: normal;
    color: #FFFFFF;
}
h3{
    font-size: 2em;
    font-weight: normal;
    color: #FFFFFF;
}
h3 a, h3 a:active, h3 a:hover{
    color: #FFFFFF;
    text-decoration: none;
}
/* Navigation style */
.navbar{
    background-color: #212529;
    color: #f8f8f8;
}
.navbar ul li{
    padding-right: 3em;
}
.navbar ul li a{
    color: #f8f8f8;
}

/*Header styles*/
.header{
    width: 100%;
    height: 30em;
    background-image: url("/images/john-jennings-430220-unsplash (1).jpg");
    background-size: cover;
    background-position: center;
}
.text{
    margin: 0 auto;
    width: auto;
    padding-top: 7em;
}
.orangeBk{
    background-color: orange;
    width: auto;
}
